<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Présences parascolaire</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    </head>
    <body>
        <h1>Groupe {{ session.group.name }} - {{ session.beg }}</h1>
        
        <form method="post" action="">
        
        {% csrf_token %}
        
        {% for s in students %}
        <div>
            <label>
                <input type="checkbox" name="name" value="{{ s.pk }}" />
                {{ s.get_full_name }}
            </label>
        </div>
        {% endfor %}
        
        <h2>Élèves additionnels</h2>
        <p>
            <input type="text" name="name" />
            <input type="text" name="name" />
            <input type="text" name="name" />
            <input type="text" name="name" />
        </p>
        
        <p><input type="submit" /></p>
        
        <p><input type="hidden" name="session_pk" value="{{ session.pk }}" /></p>
        
        </form>
        
    </body>
</html>