<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Présences parascolaire</title>
    </head>
    <body>
        <h1>Groupe {{ name_of_group }}</h1>
        
        <form method="post" action="">
        
        {% csrf_token %}
        
        {% for s in students %}
        <p>
            <label>
                <input type="checkbox" name="name" value="{{ s.pk }}" />
                {{ s.get_full_name }}
            </label>
        </p>
        {% endfor %}
        
        <h2>Élèves additionnels</h2>
        <p><input type="text" name="name" /></p>
        <p><input type="text" name="name" /></p>
        <p><input type="text" name="name" /></p>
        <p><input type="text" name="name" /></p>
        
        <p><input type="submit" /></p>
        
        </form>
        
    </body>
</html>